.add-task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(197, 195, 195);
  box-shadow: 5px 5px rgb(197, 195, 195);
}

.task-submit-btn {
  background-color: green;
  color: white;
  height: 30px;
  border: 1px solid green;
}

.add-task-form > input {
  border: none;
  margin: 2px;
  border: 1px solid rgb(197, 195, 195);
}

input:focus {
  outline: none;
}