.date-picker-section {
  width: 155px;
  height: 210px;
  position: relative;
  background-color: white;
}

.year-btn,
.month-btn {
  width: 37.5px;
  background-color: white;
  /* border-style: none; */
  cursor: pointer;
  height: 50px;
  padding: 0 !important;
}

.year-container,
.month-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  position: absolute;
  top: 50px;
  height: 100px;
}

.year-selector {
  width: 112.5px;
}

.year-nav,
.year-selector,
.year-btn,
.month-btn,
.today-btn {
  background-color: white;
}

.select-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 100%;
}

.date-picker-section {
  position: absolute;
  top: 250px;
  left: 65px;
  box-shadow: teal;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.today-btn {
  position: absolute;
  top: 182px;
  right: 10px;
}