.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}

.view-section,
.user-details,
.categories-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  border: 1px solid black;
}

.categories-section {
  align-items: center;
}

.title-text {
  width: 60%;
}

.image-task {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image {
  background-color: red;
  padding: 15px 10px;
}

.main-title {
  font-size: 20px;
}

.filter-btn {
  height: 30px;
  position: relative;
}

.filter-dropdown {
  position: absolute;
  bottom: -255px;
  right: -14px;
}

.filter-select {
  width: 150px;
  height: 250px;
}
