.schedule-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calendar-section {
  width: 80%;
  box-shadow: 3px 3px 3px 3px rgb(197, 195, 195);
  height: 790px;
}

.no-due-section {
  width: 15%;
  height: 790px;
}

.each-task,
.task-in-week {
  margin: 2px auto;
  border: 1px solid rgb(197, 195, 195);
  background-color: rgb(197, 195, 195);
  padding: 0px 5px;
}

.week-date-display {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 600;
}